################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EstoqFy/config
/.vs/EstoqFy/CopilotIndices/17.13.439.2385
/.vs/EstoqFy/FileContentIndex
